* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.head {
  height: 1024px;
  background-image: url(./img/fonup.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_title {
  color: white;
  font-size: 64px;
  font-weight: 700;
  padding-top: 217px;
}
.top_text {
  max-width: 481px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 44px;
}
.top_link {
  text-decoration-line: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.top_link:hover {
  text-decoration-line: underline;
}
.top_button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}
.top_button:hover {
  background: rgb(235, 68, 63);
  cursor: url(./img/cursor.png) 2 2, pointer;
}

.gamescontent {
  height: 556px;
  background-image: url(./img/fondown.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 32px;
}
.games_item {
  position: relative;
}
.games_img {
  border-radius: 19px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0), rgb(0, 25, 68) 100%);
  width: 100%;
  height: auto;
  transition: all 0.5s;
}
.games_img:hover {
  transform: scale(1.05);
  box-sizing: border-box;
  border-radius: 19px;
  border: 3px solid rgb(68, 210, 255);
  cursor: url(./img/cursor.png) 2 2, pointer;
}
.games_name {
  color: white;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.seasontop {
  height: 800px;
  background-image: url(./img/seasons.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.seasons {
  display: flex;
  flex-direction: column;
}
.seasons_title {
  color: white;
  font-size: 48px;
  font-weight: 700;
}
.seasons_text {
  max-width: 584px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 44px;
}
.seasons_pic {
  width: auto;
  height: 333px;
}

@media (max-width: 735px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .head {
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_title {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 238.69px;
  }
  .top_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top_link {
    font-size: 14px;
  }
  .gamescontent {
    height: 1221px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .games {
    flex-direction: column;
  }
  .seasontop {
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seasons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seasons_title {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 51px;
  }
  .seasons_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .seasons_pic {
    padding-top: 64px;
  }
  .seasons_pic-img {
    height: 236px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */